* {
    /*

       Applies the same CSS rules to all elements in the document.
             It creates a consistent starting point by removing the browser's default
            margin and padding, making the layout easier to control.


        box-sizing: border-box ensures that an element's width and height
            include its padding and border.
            
 */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social-icon{
    width: 32px;
    height: 32px;

}

.Social-Text{
    right: 32px;
}

.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: steelblue;
    color: white;
    
    
}


nav {
    color: white;
    padding: 10px;
    display: block;
    background-color: steelblue;
    box-shadow: 0 0 30px gray;

}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

main {
    max-width: 840px;
    
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
aside h2 {
    position: absolute;
    top: 20px;
    left: 115px;
}

h2 {
    text-align: center;

}

h1 {
    color: steelblue;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}